.gallery {
  background-color: var(--color-white);
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: repeat(9, minmax(1fr, 9vw));
  grid-gap: 0.9rem;
  // max-height: 100rem;
  grid-auto-rows: 5vw;
  text-align: center;
  backface-visibility: hidden;
  padding: .2rem;
  padding: 0 1rem;
  position: relative;

  @include respond(phone) {
    display: flex;
    flex-direction: column;

    &__item {
      min-height: 20vh;
      margin-bottom: .6rem;
      flex: 1;
      height: 5rem;
    }
  }

  @include respond(tab-port) {
    display: flex;
    flex-direction: column;

    &__item {
      min-height: 50vw;
      margin-bottom: .6rem;
      flex: 1;
      height: 5rem;
    }
  }

  &__side {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.5s ease;
    border-radius: .5rem;
    overflow: hidden;

    &--front {
      z-index: 1;
    }
    &--back {
      transform: rotateY(-180deg);
      // @extend %greyGradient;
      @extend %redGradient;
      padding: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      line-height: 4rem;
      font-size: 1.4rem;
      z-index: 0;
      color: var(--color-white);
    }
  }
  &__item {
    cursor: pointer;
    perspective: 150rem;
    position: relative;
    backface-visibility: hidden;
    padding: 3rem;

    &:hover .gallery__side--front {
      transform: rotateY(180deg);
      z-index: 0;
      // opacity: .2;
    }
    &:hover .gallery__side--back {
      transform: rotateY(0);
      z-index: 1;
    }

    &--1 {
      grid-column: 6 / span 1;
      grid-row: 4 / span 4;
    }
    &--2 {
      grid-column: 3 / span 3;
      grid-row: 1 / span 4;
    }
    &--3 {
      grid-column: 5 / span 1;
      grid-row: 7 / span 3;
    }
    &--4 {
      grid-column: 7 / span 2;
      grid-row: 1 / span 5;
    }
    &--5 {
      grid-column: 7 / span 2;
      grid-row: 9 / span 4;
    }
    &--6 {
      grid-column: 3 / span 2;
      grid-row: 5 / span 6;
    }
    &--7 {
      grid-column: 6 / span 1;
      grid-row: 1 / span 3;
    }
    &--8 {
      grid-column: 5 / span 1;
      grid-row: 5 / span 2;
    }
    &--9 {
      grid-column: 1 / span 2;
      grid-row: 1 / span 3;
    }
    &--10 {
      grid-column: 6 / span 1;
      grid-row: 8 / span 2;
    }
    &--11 {
      grid-column: 1 / span 2;
      grid-row: 9 / span 4;
    }
    &--12 {
      grid-column: 5 / span 2;
      grid-row: 10 / span 5;
    }
    &--13 {
      grid-column: 3 / span 2;
      grid-row: 11 / span 4;
    }
    &--14 {
      grid-column: 7 / span 2;
      grid-row: 6 / span 3;
    }
    &--15 {
      grid-column: 1 / span 2;
      grid-row: 4 / span 5;
    }
  }
  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
}

@keyframes fadeInImage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
