.modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(#000000, $alpha: 0.8); // var didnt work here
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  &--active {
    opacity: 1;
    visibility: visible;
  }

  &--active &__content {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) scale(1);
  }

  /* Rectangle 2: */
  // no js way
  // &:target {
  //     opacity: 1;
  //     visibility: visible;
  // }
  // &:target &__content {
  //     opacity: 1;
  //     visibility: visible;
  //     transform: translate(-50%, -50%) scale(1);
  // }
  &__content {
    @include abscenter;
    background: transparent;
    transition: all 0.2s 0.2s;
    display: grid;
    overflow: hidden;
    grid-template-columns: 1fr minmax(auto, max-content) 1fr;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.25);
  }
  &__imgHolder {
    background-color: var(--color-black);
    overflow: hidden;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    border: 0.5rem var(--color-white) solid;
    position: relative;
    @include respond(tab-port) {
      width: 70vw;
      height: 100%;
    }
  }
  &__img {
    height: 100%;
    width: 100%;
  }
  &__close {
    cursor: pointer;
    display: block;
    right: 0.2rem;
    text-align: center;
    position: absolute;
    z-index: 2;
    height: 3rem;
    width: 3rem;
    font-size: 1.4rem;
    color: var(--color-white);
  }
  &__nav {
    cursor: pointer;
    padding: 1.5rem;
    font-size: 6rem;
    color: var(--color-white);
    background: none;
    border: none;
    &:hover {
      color: var(--color-secondary);
    }
    &:active {
      transform: translateY(6px);
    }
  }
}
