/* Globals */
:root {
  --font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;
  --color-black: #000;
  --color-white: #ffffff;
  --blue-gradient: linear-gradient(-180deg, #15A0FA 0%, #FFFFFF 98%);
  --blue-gradient-reverse: linear-gradient(180deg, #15A0FA 0%, #FFFFFF 98%);
  --red-gradient: linear-gradient(135deg, #E2001A 0%, #670D0E 100%);

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}




*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 16px;

  @include respond(phone) {
      font-size: 12px;
  }
}

body {
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
  outline: 0;
  border: none;
  color: inherit;
}

/* Snippets */
.site-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

.site-header__quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}

.site-footer {
  color: var(--color);
  font-family: var(--font-serif);
  text-align: center;
}




